.main {
  min-height: 100vh;
  background-color: white;
  color: black;
  font-family: Whyte, sans-serif;
}

.topSection {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.logoutButton {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.logoutButton:hover {
  background-color: gray;
}

.facebookLogin {
  display: flex;
  gap: 10px;
  align-items: center;
}
