.main {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Whyte, sans-serif;
}

.button {
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 8px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
}
